<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>People</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/main.js" defer></script>
</head>

<body>
    <div action="http://localhost:3000/message" id="form" class="form" method="POST">
        <h3>Person</h3>
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-control">
            <label for="name">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject">
        </div>
        <div class="form-control">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <button onclick="postUserMessage()">Submit</button>
    </div>
    
    <div id="mess"></div>
   
</body>
</html>